<div id="stacks-container">
    {% for stack in page.stacks %}
        {%- if page.stack_format == "imageTitleSubtitleDescriptionCommentary.html" -%}
            <div class="stack"
                data-description="{{ stack.description }}"
                {% if stack.entries %}
                    data-has-entries="true"
                    data-entries="{{ stack.entries | jsonify | escape }}"
                {% endif %}>
                <p class="stack-description">{{ stack.description }}</p>
            </div>
        {% else %}
            <!-- TODO: implement a custom error to raise here -->
            {% continue %}
        {%- endif -%}
    {% endfor %}
</div>

<div id="stack-modal" class="modal">
    <div class="modal-content">
        <p id="modal-title"></p>
        <div id="entries-container" class="entries-grid"></div>
    </div>
</div>

<script src="{{ site.baseurl }}/assets/js/stacks.js"></script>
<link rel="stylesheet" href="{{ "/assets/css/stacks.css" | relative_url }}">