:root {
  --solarized-mono3: #fdf6e3;
  --solarized-mono2: #eee8d5;
  --solarized-mono1: #93a1a1;
  --solarized-mono00: #4e626a;
  --solarized-mono01: #586e75;
  --solarized-mix1: #c8ccc2;
  --solarized-mix2: #3a779e;
  --solarized-mix3: #f6efdc;
  --solarized-mix4: #e8e3d4;
  --solarized-mono1-dimmed: #606e6e;
  --solarized-link-color: #2072ac;
  --solarized-link-visited: #376a8b;
  --solarized-mark-line-bg-color: #ffffcc; }

@media (prefers-color-scheme: dark) {
  :root {
    --solarized-mono3: #002b36;
    --solarized-mono2: #073642;
    --solarized-mono1: #586e75;
    --solarized-mono00: #91a0a1;
    --solarized-mono01: #93a1a1;
    --solarized-mix1: #2c4d56;
    --solarized-mix2: #5c96ba;
    --solarized-mix3: #04313c;
    --solarized-mix4: #193843;
    --solarized-mono1-dimmed: #7f979f;
    --solarized-link-color: #469edd;
    --solarized-link-visited: #64a5ce;
    --solarized-mark-line-bg-color: #164145; } }
.highlight .err {
  color: #fefeec;
  background-color: #dc322f; }
.highlight .c {
  color: var(--solarized-mono1); }
.highlight .c1 {
  color: var(--solarized-mono1); }
.highlight .cm {
  color: var(--solarized-mono1); }
.highlight .cp {
  color: var(--solarized-mono1); }
.highlight .cs {
  color: var(--solarized-mono1);
  font-style: italic; }
.highlight .gd {
  color: #dc322f; }
.highlight .gd .x {
  color: #dc322f; }
.highlight .ge {
  color: var(--solarized-mono00);
  font-style: italic; }
.highlight .gh {
  color: var(--solarized-mono1); }
.highlight .gi {
  color: #859900; }
.highlight .gi .x {
  color: #859900; }
.highlight .go {
  color: var(--solarized-mono00); }
.highlight .gp {
  color: var(--solarized-mono00); }
.highlight .gr {
  color: #dc322f; }
.highlight .gs {
  color: var(--solarized-mono01);
  font-weight: bold; }
.highlight .gt {
  color: #dc322f; }
.highlight .gu {
  color: var(--solarized-mono1); }
.highlight .k {
  color: #cb4b16; }
.highlight .kc {
  color: #cb4b16; }
.highlight .kd {
  color: #cb4b16; }
.highlight .kp {
  color: #cb4b16; }
.highlight .kr {
  color: #cb4b16; }
.highlight .kt {
  color: #6c71c4; }
.highlight .na {
  color: #2aa198; }
.highlight .nb {
  color: #cb4b16; }
.highlight .bp {
  color: #268bd2; }
.highlight .nc {
  color: #6c71c4; }
.highlight .ne {
  color: #6c71c4; }
.highlight .nf {
  color: #268bd2; }
.highlight .ni {
  color: #6c71c4; }
.highlight .nn {
  color: #6c71c4; }
.highlight .no {
  color: #6c71c4; }
.highlight .nt {
  color: #cb4b16; }
.highlight .nv {
  color: #2aa198; }
.highlight .vc {
  color: #2aa198; }
.highlight .vg {
  color: #2aa198; }
.highlight .vi {
  color: #2aa198; }
.highlight .o {
  color: #859900; }
.highlight .ow {
  color: #859900; }
.highlight .m {
  color: #6c71c4; }
.highlight .mf {
  color: #6c71c4; }
.highlight .mh {
  color: #6c71c4; }
.highlight .mi {
  color: #6c71c4; }
.highlight .il {
  color: #6c71c4; }
.highlight .mo {
  color: #6c71c4; }
.highlight .s {
  color: #d33682; }
.highlight .s1 {
  color: #d33682; }
.highlight .s2 {
  color: #d33682; }
.highlight .sb {
  color: #d33682; }
.highlight .sc {
  color: #d33682; }
.highlight .sd {
  color: #d33682; }
.highlight .se {
  color: #d33682; }
.highlight .sh {
  color: #d33682; }
.highlight .si {
  color: #d33682; }
.highlight .sr {
  color: #859900; }
.highlight .ss {
  color: #d33682; }
.highlight .sx {
  color: #d33682; }
.highlight .w {
  color: var(--solarized-mono1); }
.highlight .lineno, .highlight .gl {
  color: var(--solarized-mono1); }
.highlight .hll {
  background-color: var(--solarized-mark-line-bg-color); }

html {
  font-size: 16px; }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  color: var(--solarized-mono00);
  background-color: var(--solarized-mono3);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
div.highlight,
figure.highlight {
  margin-bottom: 15px; }

hr {
  margin-top: 30px;
  margin-bottom: 30px; }

/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  color: var(--solarized-mono01);
  font-weight: 500; }

/**
 * Links
 */
a {
  color: var(--solarized-link-color);
  text-decoration: none; }
  a:visited {
    color: var(--solarized-link-visited); }
  a:hover {
    color: var(--solarized-mono00);
    text-decoration: underline var(--solarized-mono1);
    text-underline-offset: 3px; }
  .social-media-list a:hover, .pagination a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username, .pagination a:hover .username {
      text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: var(--solarized-mono1);
  border-left: 4px solid var(--solarized-mix4);
  padding-left: 15px;
  font-size: 1.05rem;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }
  blockquote i, blockquote em {
    font-style: normal; }

/**
 * Code formatting
 */
pre,
code {
  font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
  background-color: var(--solarized-mix3); }
  @media screen and (max-width: 600px) {
    pre,
    code {
      font-family: monospace; } }

pre {
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.4;
  color: var(--solarized-mono01);
  overflow-x: auto; }
  pre > code {
    display: inline-block;
    width: 100%; }

div.highlight, figure.highlight {
  border: 1px solid var(--solarized-mix4);
  border-radius: 3px; }
  div.highlight pre, figure.highlight pre {
    margin: 0; }
  div.highlight table, div.highlight tbody, div.highlight th, div.highlight tr, div.highlight td, figure.highlight table, figure.highlight tbody, figure.highlight th, figure.highlight tr, figure.highlight td {
    margin: 0;
    padding: 0;
    border: 0; }
  div.highlight .lineno, div.highlight .gl, figure.highlight .lineno, figure.highlight .gl {
    text-align: right; }

figure.highlight table {
  margin: -8px -12px -14px; }
figure.highlight td.gutter {
  border-right: 1px solid var(--solarized-mix4); }
figure.highlight td.code {
  width: 100%; }

code.highlighter-rouge {
  padding: 1px 5px;
  font-size: 14px;
  border: 1px solid var(--solarized-mix4);
  border-radius: 3px; }

/**
 * Wrapper
 */
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px; }
  @media screen and (max-width: 600px) {
    .wrapper {
      padding-right: 18px;
      padding-left: 18px; } }

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.orange {
  color: #f66a0a; }

.grey {
  color: #828282; }

.svg-icon {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
  overflow: visible; }

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: var(--solarized-mono00);
  border-collapse: collapse;
  border: 1px solid var(--solarized-mix1); }
  table tr:nth-child(even) {
    background-color: var(--solarized-mix3); }
  table th, table td {
    padding: 10px 15px; }
  table th {
    background-color: var(--solarized-mono2);
    border: 1px solid var(--solarized-mix1); }
  table td {
    border: 1px solid var(--solarized-mix1); }
  @media screen and (max-width: 800px) {
    table {
      display: block;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar; } }

body {
  font-family: 'Merriweather', serif;
  line-height: 1.75; }

strong {
  font-weight: 900; }

em, i {
  font-family: 'Merriweather', serif;
  font-style: oblique; }

.audio-container {
  padding: 20px 0; }

#use-restraint-iframes {
  display: flex;
  justify-content: space-between; }

#use-restraint-iframes iframe {
  border-radius: 12px;
  padding: 10px 10px 10px 0;
  width: 50%;
  height: 85px;
  border: none; }

/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid var(--solarized-mix4);
  min-height: 55.95px;
  line-height: 54px;
  position: relative; }

.site-title {
  font-size: 1.625rem;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  @media screen and (max-width: 600px) {
    .site-title {
      padding-right: 45px; } }
  .site-title, .site-title:visited {
    color: var(--solarized-mono00); }

.site-nav {
  position: absolute;
  top: 9px;
  right: 15px;
  background-color: var(--solarized-mono3);
  border: 1px solid var(--solarized-mix4);
  border-radius: 5px;
  text-align: right; }
  .site-nav .nav-trigger {
    display: none; }
  .site-nav .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center; }
    .site-nav .menu-icon > svg path {
      fill: var(--solarized-mono00); }
  .site-nav label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer; }
  .site-nav input ~ .trigger {
    clear: both;
    display: none; }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px; }
  .site-nav .page-link {
    color: var(--solarized-mono00);
    line-height: 1.5;
    display: block;
    padding: 5px 10px;
    margin-left: 20px; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 0; }
  @media screen and (min-width: 775px) {
    .site-nav {
      position: static;
      float: right;
      border: none;
      background-color: inherit; }
      .site-nav label[for="nav-trigger"] {
        display: none; }
      .site-nav .menu-icon {
        display: none; }
      .site-nav input ~ .trigger {
        display: block; }
      .site-nav .page-link {
        display: inline;
        padding: 0;
        margin-left: auto; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 20px; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid var(--solarized-mix4);
  padding: 30px 0; }

.footer-heading {
  font-size: 1.125rem;
  margin-bottom: 15px; }

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0; }

.contact-list,
.social-media-list,
.pagination {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper,
.social-links {
  font-size: 0.9375rem;
  color: var(--solarized-mono1); }

.footer-col {
  margin-bottom: 15px; }

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (30px / 2)); }

.footer-col-3 {
  width: calc(100% - (30px / 2)); }

@media screen and (min-width: 800px) {
  .footer-col-1 {
    width: calc(35% - (30px / 2)); }

  .footer-col-2 {
    width: calc(20% - (30px / 2)); }

  .footer-col-3 {
    width: calc(45% - (30px / 2)); } }
@media screen and (min-width: 600px) {
  .footer-col-wrapper {
    display: flex; }

  .footer-col {
    width: calc(100% - (30px / 2));
    padding: 0 15px; }
    .footer-col:first-child {
      padding-right: 15px;
      padding-left: 0; }
    .footer-col:last-child {
      padding-right: 0;
      padding-left: 15px; } }
/**
 * Page content
 */
.page-content {
  flex: 1 0 auto; }

.post {
  padding-bottom: 15px;
  padding-top: 15px; }

.page-heading {
  font-size: 2rem; }

.post-list-heading {
  font-size: 1.75rem; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: var(--solarized-mono1);
  margin-bottom: 4px; }

.revision-metadata {
  font-size: 14px;
  color: var(--solarized-mono00); }

.post-title-link-container {
  overflow: auto; }

.post-link {
  display: inline;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.post-title-link {
  display: inline;
  width: auto; }

#tag-header {
  margin: 0px;
  margin-top: 15px;
  font-size: 26px; }

.post-meta-tags, .backlinks {
  font-size: 14px; }

.post-tag {
  margin: 0px 0px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--solarized-mono1); }

.post-tag-link {
  color: var(--solarized-mono1); }
  .post-tag-link:visited {
    color: var(--solarized-mono1); }

/**
 * Posts
 */
.post-header {
  margin-bottom: 16px; }

.post-title,
.post-content h1 {
  font-size: 2.25rem;
  letter-spacing: -1px;
  line-height: 1.15;
  margin-bottom: 8px; }
  @media screen and (min-width: 800px) {
    .post-title,
    .post-content h1 {
      font-size: 2.25rem; } }

.post-content {
  margin-bottom: 30px; }
  .post-content p {
    display: inline; }
  .post-content div.paragraph {
    display: block;
    margin-bottom: 15px; }
    .post-content div.paragraph:last-child {
      margin-bottom: 0; }
  .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    margin-top: 30px; }
  .post-content h2 {
    font-size: 1.75rem; }
    @media screen and (min-width: 800px) {
      .post-content h2 {
        font-size: 2rem; } }
  .post-content h3 {
    font-size: 1.375rem; }
    @media screen and (min-width: 800px) {
      .post-content h3 {
        font-size: 1.625rem; } }
  .post-content h4 {
    font-size: 1.25rem; }
  .post-content h5 {
    font-size: 1.125rem; }
  .post-content h6 {
    font-size: 1.0625rem; }

.post-subtitle {
  margin: 10px 0px; }

.social-media-list, .pagination {
  display: table;
  margin: 0 auto; }
  .social-media-list li, .pagination li {
    float: left;
    margin: 5px 10px 5px 0; }
    .social-media-list li:last-of-type, .pagination li:last-of-type {
      margin-right: 0; }
    .social-media-list li a, .pagination li a {
      display: block;
      padding: 10px 12px;
      border: 1px solid var(--solarized-mix4); }
      .social-media-list li a:hover, .pagination li a:hover {
        border-color: var(--solarized-mono1); }

/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: 30px; }
  .pagination li a, .pagination li div {
    min-width: 41px;
    text-align: center;
    box-sizing: border-box; }
  .pagination li div {
    display: block;
    padding: 7.5px;
    border: 1px solid transparent; }
    .pagination li div.pager-edge {
      color: var(--solarized-mix4);
      border: 1px dashed; }

.hover-link {
  position: relative;
  display: inline; }

.hover-link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160%;
  height: 400%;
  visibility: hidden;
  transform: translate(-50%, -50%); }

@media (hover: hover) {
  .hover-link:hover::after {
    visibility: visible; } }
.hover-card::before {
  content: "";
  position: absolute;
  top: -2em;
  left: -2em;
  width: 110%;
  height: 2em;
  background-color: transparent; }

.hover-card {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--solarized-mono3);
  border: 1px solid var(--solarized-mix4);
  border-radius: 10px;
  left: 5px;
  top: 5px;
  padding: 1em;
  overflow: hidden;
  overflow-y: auto;
  min-width: 30vw;
  max-width: 50vw;
  max-height: 50vh;
  height: auto;
  white-space: normal;
  overflow-wrap: break-word;
  box-shadow: 0px 0px 0px 1px var(--solarized-mono1); }

.hover-card-container {
  position: relative;
  display: inline-block; }

@media (hover: hover) {
  .hover-link:hover + .hover-card-container > .hover-card,
  .hover-card:hover {
    display: block; } }
.hover-card-title {
  font-size: 20px; }

/**
 * Grid helpers
 */
@media screen and (min-width: 800px) {
  .one-half {
    width: calc(50% - (30px / 2)); } }
#post-order-controls {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px; }

#post-order-controls {
  display: flex;
  align-items: center; }

.radio-button-group {
  display: flex; }

.radio-button-group input[type="radio"] {
  display: none; }

.radio-button-group label {
  padding-left: 10px;
  cursor: pointer; }

.radio-button-group input[type="radio"]:checked + label {
  font-weight: bold;
  text-decoration: underline; }

#post-series-nav, #revisions-nav {
  padding: 0px;
  color: var(--solarized-mono00); }

#post-series-nav > a, #revisions-nav > a {
  cursor: pointer; }

.revision-insertion {
  background-color: darkgreen;
  text-decoration: none; }
