---
layout: base
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {%- include post_header.html -%}

  <div class="post-content e-content" itemprop="articleBody">

    {% assign post_content = content
        | replace: '<span class="hover-link"', '</p><span class="hover-link"'
        | replace: '<span class="hover-card-container"><span class="hover-card">', '<div class="hover-card-container"><div class="hover-card">'
        | replace: '</span></span><span id="HOVERCARDEND"></span>', '</div></div><p>'
    %}

    {%- if page.post_type == "stacks" -%}
      {{ content }}
      {%- include stacks.html -%}
    {%- elsif page.post_type -%}
        TODO custom
    {% else %}
        {{ post_content }}
    {%- endif -%}

    {%- if page.note -%}
      <hr />
      <h6 class="post-note">{{ page.note }}</h6>
    {%- endif -%}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
